j.s.p.tracking.enabled=true
j.s.p.mark.enabled=true
j.s.p.tag.enabled=true
j.s.p.hotspot.threshold=5
j.s.p.hotspot.threshold.inherent=0
j.s.p.interceptor.enabled=true

j.s.p.interceptors=ot
j.s.p.interceptor.ot.factory.class=com.acedemand.autoletics.OpenTracingProbesInterceptorFactory
j.s.p.interceptor.ot.factory.classpath=lib/*
